.listing-container {
    height: 80vh;
    position: relative;
    /* background: #e1e2e4; */
    width: 97.5%;
    margin-left: 1.25%;
    margin-top: 0vh !important;
    top: 0vh !important;
}

.listing-header {
    position: relative;

}
.form-root {
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin-left: 10px !important;
}
.listing-field-helper {
    text-align: left;
}
.form-control-trade {
    min-width: 150px;
}
.left-hand-panel {
    height: 65vh;
}
.right-hand-panel {
    height: 65vh;
}
.fullwidth-field-item {
    /* flex-grow: 8; */
    width: 80% !important;
    float: left;
    margin-top: 0.5vh !important;
}
.fullwidth-field-container {
    width: 100%;
    /* background: red; */
    margin-top: 20vh !important;
}
.flex-container {
    display: flex;

}
.left-container-create {
    flex: 2;
}
.right-container-create {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.wanted-cards-container {
    flex: 1;   
}
.image-uploader-container {
    flex: 1;
}