.track-card {
    margin-bottom: 2vh;
    width: 100% !important;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
}
.track-card:hover, .track-card:active {
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;

}
.track-info {
    line-height: 10%;
    overflow: hidden;
    height: 10%;
    background: #272c34 !important;
}
.track-img {
    height: 0;
    padding-top: 56.25%;
}
.listing-container {
    height: 80vh;
    position: relative;
    top: 4vh;

}

.tradeBox-card {
    position: relative;
    top: 20vh;
    /* left: 25%; */
    height: 50vh;
}
.left-hand-tradeBox {
    height: 100%;

}
.left-hand-paper {
    height: 100%;
    margin-left: 0px !important;
}
.right-hand-tradeBox {
    height: 100%;

}
.right-hand-paper {
    height: 100%;
}

.middle-icon {
    text-align: center;
    width: 50%;
}
.tradeBox-want-text {
    /* margin-left: 30px !important; */
}
.tradeBox-card-container {
    height: 85%;
}
.tradeBox-paper-container {
    height: 75%;
    margin-left: 0px !important;
}



.tradeBox-wanted-img {
    height: 80%;
}




.tradeBox-grid-container {
    height: 100%;
}

.tradeBox-button {
    background: #90caf9 !important;
    color: black !important;
    position: relative;
    top: 20px;
    height: 8%;
    width: 100%;
}
.tradeBox-button-disabled {
    background: rgba(144,202,249,0.2) !important;
    color: #767676 !important;
    position: relative;
    top: 20px;
    height: 8%;
    width: 100%;
}







.listing-header {
    position: relative;
    top: 8vh;

}
.form-root {
    display: flex;
    flex-wrap: wrap;
}
.listing-full-label {
    width: 25ch,
}
.form-control-trade {
    min-width: 150px;
}
.left-hand-panel {
    height: 65vh;
    width: 100%;
}
.product-img {
    display: inline-block;
    width: 94%;
}
.product-text {
    margin-top: 2vh;
}

.product-top-text {
    position: absolute;
    top: 5vh;
}
.button-below-img {
    height: 7vh;
    position: relative;
    /* top: 56vh; */

}
.button-item {
    background: #90caf9 !important;
    position: absolute;
    top: 1vh;
    height: 5.5vh;
    width: 90%;
    color: black !important;
    font-weight: 900 !important;
    font-family: Montserrat !important;
    /* border: 2px solid white !important; */

}
.price-container {
    position: relative; 
    top: 15vh;
}
.price-text {
    margin-left: 20px !important;
    color: green !important; 
}


.tabs-details {
    margin-left: 20px !important;
}


.carousel-slider {
    height: 32vh;
    margin-top: 1vh !important;
}


.right-hand-panel {
    height: 65vh;
    width: 95%;
}

.item-details-tabs {
    position: relative;
    top: 20vh;
    height: 30vh;
}


.player-text {
    font-family: Montserrat !important;
    margin-left: 20px !important;
}
.sport-text {
    font-family: Montserrat !important;
    margin-left: 20px !important;
}
.year-text {
    font-family: Montserrat !important;
    margin-left: 20px !important;
}
.manufacturer-text {
    font-family: Montserrat !important;
    margin-left: 20px !important;
}
.cardNumber-text {
    font-family: Montserrat !important;
    margin-left: 20px !important;
}
.cardSeries-text {
    font-family: Montserrat !important;
    margin-left: 20px !important;
}