.about-text {
    text-align: center;
    font-family: Montserrat !important;
}
.about-quote-author {
    margin-top: 5vh !important;
    font-family: Montserrat !important;
}
.about-quote {
    font-family: Montserrat !important;
}
.divider-quote {
    margin-top: 100vh !important;
}