.about-text {
    text-align: center;
    font-family: Montserrat !important;
}
.about-quote-author {
    margin-top: 5vh !important;
    font-family: Montserrat !important;
}
.about-quote {
    font-family: Montserrat !important;
}
.divider-quote {
    margin-top: 10vh !important;
}
.about-us {
    font-family: Montserrat !important;
    margin-top: 10vh !important;

}
.contact-us-container {
    margin-top: 10vh !important;
}
.full-width-flex-input {
    display: flex;
    width: 100%;

}
.half-width-name {
    flex: 1;
}