.login {
    
}
.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#e66465, #4ECAEC);;
}
.textbox-generic {
    background: white !important;
    border: 1px solid black;
    padding-left: 0.5em;
}
.login-card {
    /* width: 50%; */
    max-width: 50%;
    max-width: 450px;
    min-width: 200px;
    position: relative;
    top: 20vh;
    /* left: 25%; */
    height: 50vh;
}
.login-alert {
    position: absolute;
    bottom: 5px;
}
.login-form {
    height: 100%;
    text-align: center;
}
.login-email {
    width: 80%;
    margin-top: 0vh !important;

}
.login-password {
    width: 80%;
    margin-top: 2vh !important;
}
.login-btn {
    width: 80%;
    margin-top: 8vh !important;
}