
.navbar-container {
    top: 0px;
    position: absolute;
    left: 0px;
    width: 100%;
    background: #141518 !important;
}
.left-nav {
    width: 70%;
    text-align: left;

}
.right-nav {
    width: 400px;
    display: flex;
    float: right;
    margin-right: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 0px;
}
// .nav-link {
//     float: left;
//     margin-right: 15px !important;
//     color: black !important;
//     font-family: Montserrat !important;
// }

.drawer {
  background: #141518 !important;
  width: 275px !important;
  text-align: center;
}

.autocomplete {
  width: 400px;
  // height: 40vh;
  // margin-right: 3%;
  right: 0;
  position: absolute;
  z-index:4;
  overflow: scroll;
  background: white;

}
.dropdown-container {
  max-height: 40vh;
}
.search-bar {
    width: 100%;
    position: relative;
    top: 1vh;
    text-align: left;
}






.submenu-container {
    display: none;
    // border: 0.2px solid black
    z-index: 10000000;
  }
  
  
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .nav-menu-item {
    color: white;
  }
  .nav {
    font-size: 0.6em;
    display: inline-block;
    // margin: 2rem auto 0;
    margin-left: 13rem;
    // line-height: inherit;
    cursor: pointer;
    position: absolute;
    margin-top: 1em;
    a {
      display: block;
      padding: 0 16px;
      line-height: inherit;
      cursor: pointer;
      text-decoration: none;
      color: white;
    }
  }
  .nav-menu {
    // line-height: 45px;
    text-align: center;
    margin-top: 10vh !important;
  }
  .nav-menu-item {
    display: inline-block;
    position: relative;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
    font-size: 1.4rem;
    color: white !important;
    margin-bottom: 2vh !important;
    
  }

.exit-drawer {
  color: white;
  text-align: right;

}
.drawer-exit-btn {
  margin-right: 10px !important;
  margin-top: 20px !important;
}



  .submenu-container {
    font-weight: 300;
    text-transform: none;
    display: none;
    // margin-top: 10px;
    position: absolute;
    width: 180px;
    background-color: #141518;  
  }
      
  .submenu-item {
    height: 2vh;
    margin-top: 1vh;
    &:hover {
      background:#141518;
    }
  }
  .submenu-text {
    margin-top: 0vh !important;
    // height: vh;
  }
  .search-primary {
    color: black !important;
  }